<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>ECharts</title>
    <!-- 引入 echarts.js -->
    <script src="/static/echarts.js"></script>
    <script src="/static/moment.js"></script>
</head>
<body>
<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div id="main" style="width: 100%;height: 800px;"></div>
<!--suppress JSUnusedAssignment -->
<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'), 'dark');

    var records = {{ win_records|safe }};

    // 指定图表的配置项和数据
    var option = {
        title: {
            text: '{{ algorithm_category }} - {{ algorithm_desc }} - {{ param_string }}'
        },
        tooltip: {
            trigger: 'axis'
        },
        legend: {
            data: []
        },
        dataZoom: [{
            type: 'inside',
            start: 0,
            end: 100
        }, {
            start: 0,
            end: 100,
            handleIcon: 'M10.7,11.9v-1.3H9.3v1.3c-4.9,0.3-8.8,4.4-8.8,9.4c0,5,3.9,9.1,8.8,9.4v1.3h1.3v-1.3c4.9-0.3,8.8-4.4,8.8-9.4C19.5,16.3,15.6,12.2,10.7,11.9z M13.3,24.4H6.7V23h6.6V24.4z M13.3,19.6H6.7v-1.4h6.6V19.6z',
            handleSize: '80%',
            handleStyle: {
                color: '#fff',
                shadowBlur: 3,
                shadowColor: 'rgba(0, 0, 0, 0.6)',
                shadowOffsetX: 2,
                shadowOffsetY: 2
            }
        }],
        toolbox: {
            feature: {
                dataZoom: {
                    yAxisIndex: 'none'
                },
                restore: {},
                saveAsImage: {}
            }
        },
        xAxis: {
            data: records.date.map(function (d) {
                return moment(d, 'YYYY_MM_DD_hh_mm_ss').format('YYYY/MM/DD');
            }),
            type: 'category'
        },
        yAxis: {},
        series: [
            {#            {% for name, value_list in win_records %}#}
            {#                {#}
            {#                    name: {{ name }},#}
            {#                    type: 'line',#}
            {#                    data: {{ value_list }}#}
            {#                },#}
            {#            {% endfor %}#}
{#            {#}
{#                name: '80',#}
{#                type: 'line',#}
{#                data: records['80']#}
{#            },#}
{#            {#}
{#                name: 'index',#}
{#                type: 'line',#}
{#                data: records['index']#}
{#            },#}
{#            {#}
{#                name: 'hold',#}
{#                type: 'line',#}
{#                data: records['hold']#}
{#            }#}
        ]
    };

        for (var key in records) {
            if(records.hasOwnProperty(key) && key !== 'date') {
                option.series.push({
                    name: key,
                    type: 'line',
                    data: records[key]
                });
                option.legend.data.push(key);
            }
        }

    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
</script>
</body>
</html>